
<div class="col-md-10 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Llenar los campos </h3>
        </div>
        <div class="card-body">
            <form action="/forms/form16" method="POST">
              <div class="form-group">
                                <label>Fecha</label>
                                <br>
                                <input type="date" name="fecha" id="fecha"placeholder="" class=" form-control">
                                                            </div>

                            <div class="form-group">
                                <input type="text" name="nombre" id="nombre" onkeypress="return sololetras(event)" placeholder="Escuela" class="form-control">
                           
                            </div>
                            <div class="form-group">
                                <input type="text" name="asunto" id="asunto" placeholder="Asunto" class="form-control">
                               
                            </div>
                            <div class="form-group">
                            <label>Actividad</label>
                            <br>
                            <textarea rows="4" cols="50" name="actividad" id="actividad" class="form-control"></textarea>
                        </div>
                                                        <br>

                <div class="form-group">
                   <button class="btn btn-success btn-block"  type="submit">Guardar
                   </button>        
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

   function sololetras(e) {
                key = e.keyCode || e.wich;
                teclado = String.fromCharCode(key);
                letras = " abcdefghijklmnopqrstuvwxyzñABCDEFGHIJKLMNÑOPQRSTUVWXYZ";
                especiales = "8-37-38-46-164"; //letra eñe}
                teclado_especial = false;
                for (var i in especiales) {
                    if (key == especiales[i]) {
                        teclado_especial = true;
                        break;
                    }
                }
                if(letras.indexOf(teclado)==-1 && !teclado_especial) {
                    return false;
                    
                }
            }

</script>