

<div class="col-md-10 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Llenar los campos </h3>
        </div>
        <div class="card-body">
            <form action="/forms/form5" method="POST">
                <div class="form-group">
                                <input type="text" name="escuela" id="escuela" placeholder="Escuela" class="form-control">
                              
                            </div>

                            <div class="form-group">
                                <input type="text" name="cct" id="cct" placeholder="CCT" class="form-control">
                           
                            </div>

                            <div class="form-group">
                                <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio" class="form-control">
                             
                            </div>

                            <div class="form-group">
                                <input type="text" name="localidad" id="localidad" onkeypress="return sololetras(event)"  placeholder="Localidad" class="form-control">
                          
                            </div>

    <div class="form-group">
                                <label>Fecha</label>
                                <br>
                                <input type="date" name="fecha" id="fecha"placeholder="" class=" form-control">
                                                            </div>
                            <div class="form-group">
                                <input type="text" name="municipio" id="municipio" onkeypress="return sololetras(event)"  placeholder="Municipio" class="form-control">
                                
                            </div>
                                                        <br>

                <div class="form-group">
                   <button class="btn btn-success btn-block"  type="submit">Guardar
                   </button>        
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

   function sololetras(e) {
                key = e.keyCode || e.wich;
                teclado = String.fromCharCode(key);
                letras = " abcdefghijklmnopqrstuvwxyzñABCDEFGHIJKLMNÑOPQRSTUVWXYZ";
                especiales = "8-37-38-46-164"; //letra eñe}
                teclado_especial = false;
                for (var i in especiales) {
                    if (key == especiales[i]) {
                        teclado_especial = true;
                        break;
                    }
                }
                if(letras.indexOf(teclado)==-1 && !teclado_especial) {
                    return false;
                    
                }
            }

</script>