

<div class="col-md-10 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Llenar los campos </h3>
        </div>
        <div class="card-body">
            <form action="/forms/form6" method="POST">
              <div class="form-group">
                                <input type="text" name="nombre" id="nombre" onkeypress="return sololetras(event)"  placeholder="Nombre" class="form-control">
                                                           </div>

                            <div class="form-group">
                                <label>Zona</label>
                                <input type="number" name="zona" id="zona" min="1" class="form-control">
                                
                            </div>

                            <div class="form-group">
                                <input type="text" name="tipo" id="tipo"  placeholder="Tipo" class="form-control">
                             
                                
                            </div>

                            <div class="form-group">
                                <label>Hora de Entrada</label>
                                <input type="number" name="horae" id="horae" class="form-control">
                                
                            </div>
                            
                            <div class="form-group">
                                     <label>Hora de Salida</label>
                                <input type="number" name="horas" id="horas" class="form-control">
                           
                            </div>

                            <div class="form-group">
                                <input type="email" name="email" id="email" placeholder="Email" class="form-control">
                                
                            </div>
                            <div class="form-group">
                                <label>Telefono</label>
                                <input type="number" name="telefono" id="telefono" class="form-control">
                                
                            </div>
                            <div class="form-group">
                                <label>Fecha</label>
                                <br>
                                <input type="date" name="fecha" id="fecha"placeholder="" class=" form-control"  >
                                                            </div>
                                                        <br>

                <div class="form-group">
                   <button class="btn btn-success btn-block"  type="submit">Guardar
                   </button>        
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">

   function sololetras(e) {
                key = e.keyCode || e.wich;
                teclado = String.fromCharCode(key);
                letras = " abcdefghijklmnopqrstuvwxyzñABCDEFGHIJKLMNÑOPQRSTUVWXYZ";
                especiales = "8-37-38-46-164"; //letra eñe}
                teclado_especial = false;
                for (var i in especiales) {
                    if (key == especiales[i]) {
                        teclado_especial = true;
                        break;
                    }
                }
                if(letras.indexOf(teclado)==-1 && !teclado_especial) {
                    return false;
                    
                }
            }

</script>