<center>
<h1 class="container"> Inicio</h1> </center>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Crear</th>
      <th scope="col">Ver</th>
         </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td><a href="forms/form1">Formato entrega recepción </a></td>
      <td><a href="/consulta1">Form1</td>
          </tr>
    <tr>
      <th scope="row">2</th>
      <td><a href="forms/form2">Formato para solicitud de sala </a></td>
      <td><a href="/consulta2">Form 2 </a></td>
   
    </tr>
    <tr>
      <th scope="row">3</th>
      <td><a href="forms/form3">Concentrado de informe financiero anual </a></td>
        <td><a href="/consulta3">Form 3 </a></td>
     
     
    </tr>
     <tr>
      <th scope="row">4</th>
      <td><a href="forms/form4">Formato Actividades </a></td>
 <td><a href="/consulta4">Form 4 </a></td>
     
    </tr>
     <tr>
      <th scope="row">5</th>
      <td><a href="forms/form5">Acta de aceptación </a></td>
     <td><a href="/consulta5">Form 5 </a></td>
     
    </tr>
     <tr>
      <th scope="row">6</th>
      <td><a href="forms/form6">Formato lista de asistencia </a></td>
      <td><a href="/consulta6">Form 6 </a></td>

  
    </tr>
   
     <tr>
      <th scope="row">7</th>
      <td><a href="forms/form10">Planeación semanal de actividades </a></td>
       <td><a href="/consulta10">Form 8 </a></td>
    
    </tr>
     <tr>
      <th scope="row">8</th>
      <td><a href="forms/form11">Informe anual bimestre financiero </a></td>
           <td><a href="/consulta11">Form 9 </a></td>
  
    </tr>
     <tr>
      <th scope="row">9</th>
      <td><a href="forms/form16">Formato permisos </a></td>
   <td><a href="/consulta16">Form 10 </a></td>
   
    </tr>
     <tr>
      <th scope="row">10</th>
      <td><a href="forms/form17">Formato Planeacion </a></td>
   <td><a href="/consulta17">Form 11 </a></td>
     
    </tr>
     <tr>
      <th scope="row">11</th>
      <td><a href="forms/form19">Formato para cambiio </a></td>
  <td><a href="/consulta19">Form 12 </a></td>
    
    </tr>
  </tbody>
</table>