<div class="card">
	<div class="card-body">
		<h1>About</h1>
		<p>  Este sitio ha sido desarrollado por los alumnos
			de la Maestría en Sistemas Computacionales
			para la materia de Técnicas de Programación
		</p>
		<div class="footer-copyright text-center navbar-light">
			♥ 2018 Copyright JILV
    	</div>
    </div>
</div>